* {
  box-sizing: border-box;
}
.completed {
  text-decoration: line-through;
}

.all-tasks-container {
  padding: 35px;
  width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-container {
  background-color: beige;
  display: flex;
  gap: 40px;
  border-radius: 5px;
}
.task-text {
  font-size: large;
  font-weight: 650;
}
.new-task-field {
  padding: 35px;
}

.new-task-text {
  border-radius: 5px;
  height: 75px;
  width: 400px;
  size: 25px;
  padding-right: 15px;
}

.new-task-button {
}
